VITE_MEDPLUM_BASE_URL=https://api.ehr.hiivehealth.net/
VITE_MEDPLUM_PROJECT_ID=7e472dfd-3ab9-4b75-adac-38e0c5c5d6c8
VITE_MEDPLUM_CLIENT_ID=ec23c2e3-f4e6-4aaf-9938-77506a367d4c
VITE_MEDPLUM_GOOGLE_CLIENT_ID=